.landing-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -2;
  background: url("src/images/1091554.webp") no-repeat center fixed;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}