.table {
  border: 4px solid;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  height: 100px;
  color: rgb(141, 182, 232);
}

.table-name {
  position: relative;
  top: 35px;
}

.chairs {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  height: 50px;
  color: green;
}

h2 {
    color: black;
}