:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  background-color: #f2f4f6;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(0 0 0 / 5%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.d-block {
  display: block;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.w-100 {
  width: 100px;
}

.w-300 {
  width: 300px;
}

.with-border {
  border: 1px solid black;
  padding: 10px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.style-input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: black;
  font-family: inherit;
}

.input-photo:hover {
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.title-style {
  font-family: inherit;
  color: #1a1a1a;
}

.label-style,
.span-style,
.input-photo {
  font-family: inherit;
  font-size: 18px;
  color: black;
}

.btn-square {
  align-items: center;
  width: 16px;
  height: 10px;
  position: relative;
  top: 5px;
  margin-left: 80% !important;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 800;
  font-size: 16px;
  width: 200px;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  border: none;
}

.p-30 {
  padding: 30px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: black;
}

.bg-secondary {
  color: #798187;
}

.mb-70 {
  margin-bottom: 70px;
}

.btn-close {
  width: 20px !important;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.m-0 {
  margin: 0px;
}